<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extend rent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <form style="margin-top: 30vh;" action="#" th:action="@{/processExtend}" th:object="${process}" method="post">
        <input type="hidden" th:field="*{processId}" />
        <div class="center" style="width: 100vw">
            <label class="font--size" style="width: 100vw;margin-bottom: 5vh">
                Choose new rent end day:
                <input class="font--size" type="date" th:field="*{rentEndDate}"/>
            </label>
        </div>
        <div class="center" style="width: 100vw">
            <button class="font--size" type="submit">Send</button>
        </div>
        <div class="center" style="width: 100vw;margin-top: 5vh">
            <button th:onclick="'window.history.back();'">Powrót do szczegółów procesu</button>
        </div>
    </form>
</div>
</body>
</html>